<div class="main-content">
  <div class="container-fluid">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-primary">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <span class="nav-tabs-title">LOA :</span>
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a mat-button class="nav-link active" href="#single" data-toggle="tab">
                                          <i class="material-icons">bug_report</i> Single Data
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#bulk" data-toggle="tab">
                                          <i class="material-icons">code</i> Bulk Data
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="single">
                             This is Single Data Form
                          </div>
                          <div class="tab-pane" id="bulk">
                              This is bulk data
                          </div>
                      </div>
                  </div>
              </div>
  </div>
</div>
