<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      No
                                  </th>
                                  <th>
                                      Nama
                                  </th>
                                  <th>
                                      Jurusan
                                  </th>
                                  <th>
                                      Fakultas
                                  </th>
                                  <th>
                                      Grade
                                  </th>
                                  <th>
                                      Campus
                                  </th>
                                  <th>
                                      PIC
                                  </th>
                                  <th>
                                      Package
                                  </th>
                                  <th>
                                      Class
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Aqra Kaleval
                                      </td>
                                      <td>
                                          BACHELOR OF INFORMATION ENGINEERING
                                      </td>
                                      <td>
                                          COMPUTER SCIENCE AND ENGINEERING
                                      </td>
                                      <td>
                                          A-
                                      </td>
                                      <td>
                                          C
                                      </td>
                                      <td>
                                          Nur Fitri Dewi
                                      </td>
                                      <td>
                                          Talent Scholarship
                                      </td>
                                      <td>
                                          Reguler Pagi
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Ginda Sawarna
                                      </td>
                                      <td>
                                          BACHELOR OF CIVIL ENGINEERING 
                                      </td>
                                      <td>
                                          COMPUTER SCIENCE AND ENGINEERING
                                      </td>
                                      <td>
                                          B
                                      </td>
                                      <td>
                                          C
                                      </td>
                                      <td>
                                          Nur Fitri Dewi
                                      </td>
                                      <td>
                                          Open days scholarship
                                      </td>
                                      <td>
                                          Reguler Siang
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Juan Tarrant
                                      </td>
                                      <td>
                                          BACHELOR IN DIGITAL BUSINESS
                                      </td>
                                      <td>
                                          ECONOMY AND BUSINESS
                                      </td>
                                      <td>
                                          A
                                      </td>
                                      <td>
                                          B
                                      </td>
                                      <td>
                                          Nopratilova
                                      </td>
                                      <td>
                                          Talent scholarship
                                      </td>
                                      <td>
                                          Reguler Pagi
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Nolan James
                                      </td>
                                      <td>
                                          BACHELOR OF CIVIL ENGINEERING
                                      </td>
                                      <td>
                                          COMPUTER SCIENCE AND ENGINEERING
                                      </td>
                                      <td>
                                          B
                                      </td>
                                      <td>
                                          C
                                      </td>
                                      <td>
                                          Nur Fitri Dewi
                                      </td>
                                      <td>
                                          Open days scholarship
                                      </td>
                                      <td>
                                          Reguler Pagi
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Baskara Adjie
                                      </td>
                                      <td>
                                          BACHELOR OF ELECTRICAL ENGINEERING
                                      </td>
                                      <td>
                                          COMPUTER SCIENCE AND ENGINEERING
                                      </td>
                                      <td>
                                          B
                                      </td>
                                      <td>
                                          C
                                      </td>
                                      <td>
                                          Nora Listiana
                                      </td>
                                      <td>
                                          Early bird registration
                                      </td>
                                      <td>
                                          Karyawan
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Antagara Etavura
                                      </td>
                                      <td>
                                          BACHELOR IN PHARMACY
                                      </td>
                                      <td>
                                          PHARMACY 
                                      </td>
                                      <td>
                                          B
                                      </td>
                                      <td>
                                          C
                                      </td>
                                      <td>
                                          Nopratilova
                                      </td>
                                      <td>
                                          Academic scholarship
                                      </td>
                                      <td>
                                          Reguler Pagi
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          